<div class="container-fluid">
  <form action="/getpdf" method="get" enctype="multipart/form-data">
    {{!-- Header datos personales --}}
    <div class="row g-3 mb-4">
      <div class="col-sm-12">
        <div class="card text-bg-secondary mb-3 align-items-center">
          <div class="card-header"> <h3>Datos Personales</h3></div>
        </div>
      </div>
    </div>
    {{!-- Fila 1 - Apellido y nombre --}}
    <div class="row g-3 mb-4">
      {{!-- Apellido --}}
      <div class="col-sm-6 form-floating">
        <input type="text" name="apellido" id="apellido" value="{{datos.apellido}}" class="form-control" disabled />
        <label for="floatingInput">Apellido</label>
      </div>
      {{!-- Nombre --}}
      <div class="col-sm form-floating">
        <input type="text" name="nombres" id="nombres" value="{{datos.nombre}}" class="form-control" disabled />
        <label for="floatingInput">Nombres</label>
      </div>
    </div>
    {{!-- Fila 2 - tipo y numero documento --}}
    <div class="row g-3 mb-4">
      {{!-- Tipo doc --}}
      <div class="col-sm-6 form-floating">
        <input type="text" name="tipoDoc" id="tipoDoc" class="form-control" value="{{datos.tipoDoc}}" disabled >
        <label for="floatingInput">Tipo de documento</label>
      </div>
      {{!-- Numero doc --}}
      <div class="col-sm form-floating">
        <input type="text" name="nro-doc" id="nro-dni" class="form-control" value="{{datos.usuario}}" disabled />
        <label for="floatingInput">Número de documento</label>
      </div>
    </div>
    {{!-- Fila 3 - email, cuil, sexo --}}
    <div class="row g-3 mb">
      {{!-- email --}}
      <div class="col-sm-6 form-floating">
        <input name="email" type="email" class="form-control" value="{{datos.email}}" disabled >
        <label for="floatingInput">e-mail</label>
      </div>
      {{!-- cuil --}}
      <div class="col-sm form-floating">
        <input name="cuil" type="text" class="form-control item" id="cuil" value="{{datos.cuil}}" disabled >
        <label for="floatingInput">Número cuit/cuil</label>
      </div>
      {{!-- sexo --}}
      <div class="col-sm-3 form-floating">
        <input name="sexo" type="text" class="form-control item" id="sexo" value="{{datos.sexo}}" disabled>
        <label for="floatingInput">Género</label>
      </div>
    {{!-- Fila 4 - Personeria juridica, afip, iaavim, repa--}}
    <div class="row g-3 mb">
      {{!-- Personería Jurídica --}}
      <div class="col-sm form-floating">
        <input type="text" class="form-control" id="slctPerJur" disabled>
        <label for="floatingSelect">Personería Jurídica</label>
      </div>
      {{!-- Situación AFIP --}}
      <div class="col-sm form-floating">
        <input type="text" class="form-control" id="slctSitAfip" value="{{datos.sitAfip}}" disabled>
        <label for="floatingSelect">Situación AFIP</label>
      </div>
      {{!-- Código REPA --}}
      <div class="col-sm form-floating">
        <input type="text" class="form-control" id="codRepa" value="{{datos.codigoRepa}}" disabled>
        <label for="floatingInput">Código REPA</label>
      </div>
      {{!-- Situación Iaavim --}}
      <div class="col-sm form-floating">
        <input type="text" class="form-control" id="sitIaavim" value="ACTIVO" {{!--value="{{datos.sitIaavim}}"--}} disabled> 
        <label for="floatingInput">Situación IAAViM</label>
      </div>
    </div>
    {{!-- Fila 5 - Telefonos --}}
    <div class="row g-3 mb">
      {{!-- Telefono fijo --}}
      <div class="col-sm-4 form-floating">
        <input name="telFijo" type="text" class="form-control" id="telFijo" value="{{telefono.fijo}}" disabled>
        <label for="floatingInput">Teléfono Fijo</label>
      </div>
      {{!-- Movil principal --}}
      <div class="col-sm-4 form-floating">
        <input name="movilPpal" type="text" class="form-control" id="movilPpal" value="{{telefono.movil}}" disabled>
        <label for="floatingInput">Teléfono Móvil</label>
      </div>
      {{!-- Movil Alternativo --}}
      <div class="col-sm form-floating">
        <input name="movilAlt" type="text" class="form-control" id="movilAlt" value="{{telefono.alternativo}}" disabled>
        <label for="floatingInput">Móvil Alternativo</label>
      </div>
    </div>
    {{!-- Fila 6 - Localidad, Departamento, Distrito CP--}}
    <div class="row g-3 mb">
      {{!-- Municipio --}}
      <div class="col-sm-3 form-floating">
        <input type="text" name="localidad" class="form-control" id="slctMunicipios" disabled>
        <label for="floatingSelect">Localidad</label>
      </div>
      {{!-- Departamento --}}
      <div class="col-sm-3 form-floating">
        <input type="text" class="form-control" id="slctDepartamentos" disabled>
        <label for="floatingInput">Departamento</label>
      </div>
      {{!-- Distrito --}}
      <div class="col-sm-3 form-floating">
        <input type="text" class="form-control" id="slctDistritos" disabled>
        <label for="floatingInput">Distrito</label>
      </div>
      {{!-- Codigo postal --}}
      <div class="col-sm form-floating">
        <input name="cp" type="text" class="form-control" minlength="4" id="cp" value="{{domicilio.cp}}" disabled>
        <label for="floatingInput">Código postal</label>
      </div>
    </div>
    {{!-- Fila 7 - Calle, piso, número, depto --}}
    <div class="row g-3 mb">
      {{!-- calle --}}
      <div class="col-sm-5 form-floating">
        <input name="calle" type="text" class="form-control" id="calle"  disabled>
        <label for="floatingInput">Calle</label>
      </div>
      {{!-- número --}}
      <div class="col-sm form-floating">
        <input name="numero" type="text" class="form-control" id="numero" value="{{domicilio.numero}}" disabled>
        <label for="floatingInput">Número</label>
      </div>
      {{!-- piso --}}
      <div class="col-sm form-floating">
        <input name="piso" type="text" class="form-control" id="piso" value="{{domicilio.piso}}" disabled>
        <label for="floatingInput">Piso</label>
      </div>
      {{!-- Depto --}}
      <div class="col-sm form-floating">
        <input name="dpto" type="text" class="form-control" id="dpto" value="{{domicilio.depto}}" disabled>
        <label for="floatingInput">Dpto</label>
      </div>
    </div>
    {{!-- Header Medios --}}
    <div class="row g-3 mb-3">
      <div class="col-sm-12">
        <div class="card text-bg-secondary mb-3 align-items-center">
          <div class="card-header"> <h3>Medios, Áreas de Desempeño y complementarias</h3></div>
        </div>
      </div>
    </div>
    <div class="row g-3 mb">
      <!-- Medios -->
      <div class="col-sm">
        <small class="text-muted">Medios</small>
        <select name="medios" id="slctMedios" class="form-control" size="3" multiple></select>
      </div>

      <!-- Áreas de desempeño -->
      <div class="col-sm">
        <small class="text-muted">Áreas de desempeño</small>
        <select name="areaDes" id="slctAreaDes" class="form-control" size="3" multiple></select>
      </div>

      <!-- Áreas Complementarias -->
      <div class="col-sm">
        <small class="text-muted">Áreas Complementarias</small>
        <select name="areaComp" id="slctAreaComp" class="form-control" size="3" multiple></select>
      </div>
    </div>
    {{!-- Boton enviar formulario --}}
    <button class="btn btn-secondary"
      data-bs-toggle="tooltip" data-bs-placement="top"
      data-bs-custom-class="custom-tooltip"
      data-bs-title="Por favor chequee la información antes de enviar el formulario."> 
      Enviar Formulario
    </button>
    <pre>
      
    </pre>
  </form>
</div>

<script>
  let areasComp = [    
      {
    medio: "Actor/actriz con experiencia en realizaciones audiovisuales",
    indice: 0,
  },
  {
    medio: "Locutor/a con experiencia en realizaciones audiovisuales",
    indice: 1,
  },
  {
    medio: "Músico con experiencia en realizaciones audiovisuales",
    indice: 2,
  },
  {
    medio: "Desarrollador/a de vídeo juegos",
    indice: 3,
  },
  {
    medio: "Proveedor/a de software y/o hardware",
    indice: 4,
  },
  {
    medio: "Bailarín/a con experiencia en audiovisuales",
    indice: 5,
  },
  {
    medio: "Otros",
    indice: 6,
  },
  ];
  let areacompcontrols =`{{areaCompl}}`
  let areacompcontrola = areacompcontrols.split(",")
  let areacompcontrol = areacompcontrola.map(str => parseInt(str));
  let selectorAreaComp = document.getElementById("slctAreaComp");
  for (let i = 0; i < areacompcontrol.length; i++) {
    let newOption = document.createElement("option");
    newOption.text = areasComp[areacompcontrol[i]].medio;
    newOption.value = areasComp[areacompcontrol[i]].indice;
    selectorAreaComp.appendChild(newOption);
  };

  areaDes = [
    {
    medio: "Productor/a",
    indice: 0,
  },
  {
    medio: "Productor Ejecutivo",
    indice: 1,
  },
  {
    medio: "Director/a",
    indice: 2,
  },
  {
    medio: "Guionista",
    indice: 3,
  },
  {
    medio: "Realizador/a comunitario",
    indice: 4,
  },
  {
    medio: "Documentalista",
    indice: 5,
  },
  {
    medio: "Realizador/a integral audiovisual",
    indice: 6,
  },
  {
    medio: "Asistente de Dirección",
    indice: 7,
  },
  {
    medio: "Director/a de Arte",
    indice: 8,
  },
  {
    medio: "Dirección de Fotografía",
    indice: 9,
  },
  {
    medio: "Asistente de Producción",
    indice: 10,
  },
  {
    medio: "Gaffer",
    indice: 11,
  },
  {
    medio: "Camarógrafo/a",
    indice: 12,
  },
  {
    medio: "Foquista",
    indice: 13,
  },
  {
    medio: "Grip",
    indice: 14,
  },
  {
    medio: "Asistente de Cámara",
    indice: 15,
  },
  {
    medio: "Sonidista",
    indice: 16,
  },
  {
    medio: "Microfonista",
    indice: 17,
  },
  {
    medio: "Video Assist",
    indice: 18,
  },
  {
    medio: "Continuista",
    indice: 19,
  },
  {
    medio: "Jefe/a eléctrico",
    indice: 20,
  },
  {
    medio: "Editor/a de sonido",
    indice: 21,
  },
  {
    medio: "Editor/a de imagen",
    indice: 22,
  },
  {
    medio: "Animador/a",
    indice: 23,
  },
  {
    medio: "Ilustrador/a",
    indice: 24,
  },
  {
    medio: "Vestuarista",
    indice: 25,
  },
  {
    medio: "Maquillador/a",
    indice: 26,
  },
  {
    medio: "Utilero/a",
    indice: 27,
  },
  {
    medio: "Coordinador/a de locaciones",
    indice: 28,
  },
  {
    medio: "Coordinador/a de Casting",
    indice: 29,
  },
  {
    medio: "Doblajista",
    indice: 30,
  },
  {
    medio: "Efectos especiales",
    indice: 31,
  },
  {
    medio: "Exhibidor/a sala IAAviM",
    indice: 32,
  },
  {
    medio: "Exhibidor/a espacio INCAA",
    indice: 33,
  },
  {
    medio: "Exhibidor/a ambulante",
    indice: 34,
  },
  {
    medio: "Exhibidor/a web / TV",
    indice: 35,
  },
  {
    medio: "Coordinador/a de Festivales",
    indice: 36,
  },
  {
    medio: "Distribuidor/a",
    indice: 37,
  },
  {
    medio: "Desarrollador/a de videojuegos",
    indice: 38,
  },
  {
    medio: "Investigador/a",
    indice: 39,
  },
  {
    medio: "Capacitador/a o formador/a audiovisual",
    indice: 40,
  },
  {
    medio: "Prensa especializado/a en audiovisuales",
    indice: 41,
  },
  {
    medio: "Abogado/a especialización en comunicación audiovisuales",
    indice: 42,
  },
  {
    medio: "Otro",
    indice: 43,
  },
  ];
  let areadescontrols =`{{areaDesem}}`
  let areadescontrola = areadescontrols.split(",")
  let areadescontrol = areadescontrola.map(str => parseInt(str));
  let selectorAreaDes = document.getElementById("slctAreaDes");
  for (let i = 0; i < areadescontrol.length; i++) {
    let newOption = document.createElement("option");
    newOption.text = areaDes[areadescontrol[i]].medio;
    newOption.value = areaDes[areadescontrol[i]].indice;
    selectorAreaDes.appendChild(newOption);
  };
 
  mediosopc = [
  {
    medio: "TV",
    indice: 0,
  },
  {
    medio: "Web",
    indice: 1,
  },
  {
    medio: "Cine",
    indice: 2,
  },
  ];
  let medioscontrols =`{{medios}}`
  let medioscontrola = medioscontrols.split(",")
  let medioscontrol = medioscontrola.map(str => parseInt(str));
  let selectorMedios = document.getElementById("slctMedios");
  for (let i = 0; i < medioscontrol.length; i++) {
    let newOption = document.createElement("option");
    newOption.text = mediosopc[medioscontrol[i]].medio;
    newOption.value = mediosopc[medioscontrol[i]].indice;
    selectorMedios.appendChild(newOption);
  };
 
  // Agregar el evento de escucha a los select
  let selects = document.querySelectorAll("select");
  selects.forEach((select) => {
    select.addEventListener("change", (event) => {
      event.preventDefault();
      select.selectedIndex = -1;
    });
  });

  // Deshabilitar los select
  selects.forEach((select) => {
    select.disabled = true;
  });

  domicilios =[  {
    "localidad": "9 de Julio",  
    "opciones": {
    "Departamento": "Eldorado",
    "Distrito": "NORTE",
    "indice": 0
    }
  },
  {
    "localidad": "25 de Mayo",  
    "opciones": {
    "Departamento": "25 de Mayo",
    "Distrito": "URUGUAY",
    "indice": 1
    }
  },
  {
    "localidad": "Alba Posse",  
    "opciones": {
    "Departamento": "25 de Mayo",
    "Distrito": "URUGUAY",
    "indice": 2
    }
  },
  {
    "localidad": "Almafuerte",  
    "opciones": {
    "Departamento": "Leandro N. Alem",
    "Distrito": "URUGUAY",
    "indice": 3
    }
  },
  {
    "localidad": "Ameghino",  
    "opciones": {
    "Departamento": "San Javier",
    "Distrito": "URUGUAY",
    "indice": 4
    }
  },
  {
    "localidad": "Apóstoles",  
    "opciones": {
    "Departamento": "Apóstoles",
    "Distrito": "SUR",
    "indice": 5
    }
  },
  {
    "localidad": "Aristóbulo del Valle",  
    "opciones": {
    "Departamento": "Cainguás",
    "Distrito": "URUGUAY",
    "indice": 6
    }
  },
  {
    "localidad": "Arroyo del Medio",  
    "opciones": {
    "Departamento": "Leandro N. Alem",
    "Distrito": "URUGUAY",
    "indice": 7
    }
  },
  {
    "localidad": "Azara",  
    "opciones": {
    "Departamento": "Apóstoles",
    "Distrito": "SUR",
    "indice": 8
    }
  },
  {
    "localidad": "Bernardo de Irigoyen",  
    "opciones": {
    "Departamento": "General Manuel Belgrano",
    "Distrito": "NORTE",
    "indice": 9
    }
  },
  {
    "localidad": "Bonpland",  
    "opciones": {
    "Departamento": "Candelaria",
    "Distrito": "SUR",
    "indice": 10
    }
  },
  {
    "localidad": "Caa Yarí",  
    "opciones": {
    "Departamento": "Leandro N. Alem",
    "Distrito": "URUGUAY",
    "indice": 11
    }
  },
  {
    "localidad": "Campo Grande",  
    "opciones": {
    "Departamento": "Cainguás",
    "Distrito": "URUGUAY",
    "indice": 12
    }
  },
  {
    "localidad": "Campo Ramón",  
    "opciones": {
    "Departamento": "Oberá",
    "Distrito": "URUGUAY",
    "indice": 13
    }
  },
  {
    "localidad": "Campo Viera",  
    "opciones": {
    "Departamento": "Oberá",
    "Distrito": "URUGUAY",
    "indice": 14
    }
  },
  {
    "localidad": "Candelaria",  
    "opciones": {
    "Departamento": "Candelaria",
    "Distrito": "SUR",
    "indice": 15
    }
  },
  {
    "localidad": "Capioví",  
    "opciones": {
    "Departamento": "Libertador General San Martín",
    "Distrito": "PARANÁ",
    "indice": 16
    }
  },
  {
    "localidad": "Caraguatay",  
    "opciones": {
    "Departamento": "Montecarlo",
    "Distrito": "PARANÁ",
    "indice": 17
    }
  },
  {
    "localidad": "Cerro Azul",  
    "opciones": {
    "Departamento": "Leandro N. Alem",
    "Distrito": "URUGUAY",
    "indice": 18
    }
  },
  {
    "localidad": "Cerro Corá",  
    "opciones": {
    "Departamento": "Candelaria",
    "Distrito": "SUR",
    "indice": 19
    }
  },
  {
    "localidad": "Colonia Alberdi",  
    "opciones": {
    "Departamento": "Oberá",
    "Distrito": "URUGUAY",
    "indice": 20
    }
  },
  {
    "localidad": "Colonia Aurora",  
    "opciones": {
    "Departamento": "25 de Mayo",
    "Distrito": "URUGUAY",
    "indice": 21
    }
  },
  {
    "localidad": "Colonia Delicia",  
    "opciones": {
    "Departamento": "Eldorado",
    "Distrito": "NORTE",
    "indice": 22
    }
  },
  {
    "localidad": "Colonia Polana",  
    "opciones": {
    "Departamento": "San Ignacio",
    "Distrito": "PARANÁ",
    "indice": 23
    }
  },
  {
    "localidad": "Colonia Victoria",  
    "opciones": {
    "Departamento": "Eldorado",
    "Distrito": "NORTE",
    "indice": 24
    }
  },
  {
    "localidad": "Colonia Wanda",  
    "opciones": {
    "Departamento": "Iguazú",
    "Distrito": "NORTE",
    "indice": 25
    }
  },
  {
    "localidad": "Comandante A. Guacurary",  
    "opciones": {
    "Departamento": "General Manuel Belgrano",
    "Distrito": "NORTE",
    "indice": 26
    }
  },
  {
    "localidad": "Concepción de la Sierra",  
    "opciones": {
    "Departamento": "Concepción",
    "Distrito": "",
    "indice": 27
    }
  },
  {
    "localidad": "Corpus",  
    "opciones": {
    "Departamento": "San Ignacio",
    "Distrito": "PARANÁ",
    "indice": 28
    }
  },
  {
    "localidad": "Dos Arroyos",  
    "opciones": {
    "Departamento": "Leandro N. Alem",
    "Distrito": "URUGUAY",
    "indice": 29
    }
  },
  {
    "localidad": "Dos de Mayo",  
    "opciones": {
    "Departamento": "Cainguás",
    "Distrito": "URUGUAY",
    "indice": 30
    }
  },
  {
    "localidad": "El Alcázar",  
    "opciones": {
    "Departamento": "Libertador General San Martín",
    "Distrito": "PARANÁ",
    "indice": 31
    }
  },
  {
    "localidad": "El Soberbio",  
    "opciones": {
    "Departamento": "Guaraní",
    "Distrito": "URUGUAY",
    "indice": 32
    }
  },
  {
    "localidad": "Eldorado",  
    "opciones": {
    "Departamento": "Eldorado",
    "Distrito": "NORTE",
    "indice": 33
    }
  },
  {
    "localidad": "Fachinal",  
    "opciones": {
    "Departamento": "Capital",
    "Distrito": "SUR",
    "indice": 34
    }
  },
  {
    "localidad": "Garuhapé",  
    "opciones": {
    "Departamento": "Libertador General San Martín",
    "Distrito": "PARANÁ",
    "indice": 35
    }
  },
  {
    "localidad": "Garupá",  
    "opciones": {
    "Departamento": "Capital",
    "Distrito": "SUR",
    "indice": 36
    }
  },
  {
    "localidad": "General J. J. Urquiza",  
    "opciones": {
    "Departamento": "San Ignacio",
    "Distrito": "PARANÁ",
    "indice": 37
    }
  },
  {
    "localidad": "Gobernador López",  
    "opciones": {
    "Departamento": "Leandro N. Alem",
    "Distrito": "URUGUAY",
    "indice": 38
    }
  },
  {
    "localidad": "Gobernador Roca",  
    "opciones": {
    "Departamento": "San Ignacio",
    "Distrito": "PARANÁ",
    "indice": 39
    }
  },
  {
    "localidad": "Gral. Alvear",  
    "opciones": {
    "Departamento": "Oberá",
    "Distrito": "URUGUAY",
    "indice": 40
    }
  },
  {
    "localidad": "Guaraní",  
    "opciones": {
    "Departamento": "Oberá",
    "Distrito": "URUGUAY",
    "indice": 41
    }
  },
  {
    "localidad": "Hipólito Irigoyen",  
    "opciones": {
    "Departamento": "San Ignacio",
    "Distrito": "PARANÁ",
    "indice": 42
    }
  },
  {
    "localidad": "Iguazú",  
    "opciones": {
    "Departamento": "Iguazú",
    "Distrito": "NORTE",
    "indice": 43
    }
  },
  {
    "localidad": "Itacaruaré",  
    "opciones": {
    "Departamento": "San Javier",
    "Distrito": "URUGUAY",
    "indice": 44
    }
  },
  {
    "localidad": "Jardín América",  
    "opciones": {
    "Departamento": "San Ignacio",
    "Distrito": "PARANÁ",
    "indice": 45
    }
  },
  {
    "localidad": "Leandro N. Alem",  
    "opciones": {
    "Departamento": "Leandro N. Alem",
    "Distrito": "URUGUAY",
    "indice": 46
    }
  },
  {
    "localidad": "Leoni",  
    "opciones": {
    "Departamento": "Libertador General San Martín",
    "Distrito": "PARANÁ",
    "indice": 47
    }
  },
  {
    "localidad": "Libertad",  
    "opciones": {
    "Departamento": "Iguazú",
    "Distrito": "NORTE",
    "indice": 48
    }
  },
  {
    "localidad": "Loreto",  
    "opciones": {
    "Departamento": "Candelaria",
    "Distrito": "SUR",
    "indice": 49
    }
  },
  {
    "localidad": "Los Helechos",  
    "opciones": {
    "Departamento": "Oberá",
    "Distrito": "URUGUAY",
    "indice": 50
    }
  },
  {
    "localidad": "Mártires",  
    "opciones": {
    "Departamento": "Candelaria",
    "Distrito": "SUR",
    "indice": 51
    }
  },
  {
    "localidad": "Mojón Grande",  
    "opciones": {
    "Departamento": "San Javier",
    "Distrito": "URUGUAY",
    "indice": 52
    }
  },
  {
    "localidad": "Montecarlo",  
    "opciones": {
    "Departamento": "Montecarlo",
    "Distrito": "PARANÁ",
    "indice": 53
    }
  },
  {
    "localidad": "Oberá",  
    "opciones": {
    "Departamento": "Oberá",
    "Distrito": "URUGUAY",
    "indice": 54
    }
  },
  {
    "localidad": "Olegario V. Andrade",  
    "opciones": {
    "Departamento": "Leandro N. Alem",
    "Distrito": "URUGUAY",
    "indice": 55
    }
  },
  {
    "localidad": "Panambí",  
    "opciones": {
    "Departamento": "Oberá",
    "Distrito": "URUGUAY",
    "indice": 56
    }
  },
  {
    "localidad": "Posadas",  
    "opciones": {
    "Departamento": "Capital",
    "Distrito": "SUR",
    "indice": 57
    }
  },
  {
    "localidad": "Profundidad",  
    "opciones": {
    "Departamento": "Candelaria",
    "Distrito": "SUR",
    "indice": 58
    }
  },
  {
    "localidad": "Puerto Esperanza",  
    "opciones": {
    "Departamento": "Iguazú",
    "Distrito": "NORTE",
    "indice": 59
    }
  },
  {
    "localidad": "Puerto Piray",  
    "opciones": {
    "Departamento": "Montecarlo",
    "Distrito": "PARANÁ",
    "indice": 60
    }
  },
  {
    "localidad": "Puerto Rico",  
    "opciones": {
    "Departamento": "Libertador General San Martín",
    "Distrito": "PARANÁ",
    "indice": 61
    }
  },
  {
    "localidad": "Ruiz de Montoya",  
    "opciones": {
    "Departamento": "Libertador General San Martín",
    "Distrito": "PARANÁ",
    "indice": 62
    }
  },
  {
    "localidad": "San Antonio",  
    "opciones": {
    "Departamento": "General Manuel Belgrano",
    "Distrito": "NORTE",
    "indice": 63
    }
  },
  {
    "localidad": "San Ignacio",  
    "opciones": {
    "Departamento": "San Ignacio",
    "Distrito": "PARANÁ",
    "indice": 64
    }
  },
  {
    "localidad": "San Javier",  
    "opciones": {
    "Departamento": "San Javier",
    "Distrito": "URUGUAY",
    "indice": 65
    }
  },
  {
    "localidad": "San José",  
    "opciones": {
    "Departamento": "Apóstoles",
    "Distrito": "SUR",
    "indice": 66
    }
  },
  {
    "localidad": "San Martín",  
    "opciones": {
    "Departamento": "Oberá",
    "Distrito": "URUGUAY",
    "indice": 67
    }
  },
  {
    "localidad": "San Pedro",  
    "opciones": {
    "Departamento": "San Pedro",
    "Distrito": "NORTE",
    "indice": 68
    }
  },
  {
    "localidad": "San Vicente",  
    "opciones": {
    "Departamento": "Guaraní",
    "Distrito": "URUGUAY",
    "indice": 69
    }
  },
  {
    "localidad": "Santa Ana",  
    "opciones": {
    "Departamento": "Candelaria",
    "Distrito": "SUR",
    "indice": 70
    }
  },
  {
    "localidad": "Santa María",  
    "opciones": {
    "Departamento": "Concepción",
    "Distrito": "SUR",
    "indice": 71
    }
  },
  {
    "localidad": "Santiago de Liniers",  
    "opciones": {
    "Departamento": "Eldorado",
    "Distrito": "NORTE",
    "indice": 72
    }
  },
  {
    "localidad": "Santo Pipo",  
    "opciones": {
    "Departamento": "San Ignacio",
    "Distrito": "PARANÁ",
    "indice": 73
    }
  },
  {
    "localidad": "Tres Capones",  
    "opciones": {
    "Departamento": "Apóstoles",
    "Distrito": "SUR",
    "indice": 74
    }
  }]

  function setearOpciones() {
      document.getElementById("calle").value = `{{calle}}`;
      const slctmunicipio = document.querySelector('#slctMunicipios');
      const slctdepartamento = document.querySelector('#slctDepartamentos');
      const slctdistrito = document.querySelector('#slctDistritos');
      const indice = `{{domicilio.localidad}}`;
      slctdepartamento.value = `${domicilios[indice].opciones.Departamento}`;
      slctmunicipio.value = `${domicilios[indice].localidad}`;
      slctdistrito.value = `${domicilios[indice].opciones.Distrito}`;
      if (`{{datos.perJuridica}}`) {
        document.getElementById("slctPerJur").value = "SI";
      } else {
        document.getElementById("slctPerJur").value = "NO";
      }
  }
  document.body.onload = function() {
    setearOpciones();
  }
</script>