<div class="container-fluid">
    <pre></pre>
    <div class="row g-3">
      <div class="col-sm-12">
          <div class="card text-bg-dark mb-3 align-items-center">
            <div class="card-header"> <h3>Datos Personales</h3></div>
          </div>
      </div>
    </div>
  
    <div class="row g-3">
      <div class="col-sm-5">
      <input type="text" name="apellido" placeholder="Apellido" id="apellido" value={{datos.apellido}} class="form-control" disabled/>
    </div>
      <div class="col-sm">
      <input type="text" name="nombres" placeholder="Nombres" id="nombres" value={{datos.nombre}} class="form-control" disabled/>
    </div>
    <div class="row g-3">
      <div class="col-sm-5">
        {{!-- <select class="form-select" aria-label="Default select example" style="height: 38px">
            <option selected>Tipo de documento</option>
            <option value="DNI">DNI</option>
            <option value="2">Cedula Policia Federal</option>
            <option value="3">Libreta Civica</option>
            <option value="4">Libreta de enrolamiento</option>
        </select> --}}
        <input type="text" name="tipoDoc" id="tipoDoc" value={{datos.tipoDoc}} class="form-control" disabled>
      </div>
      <div class="col-sm">
        <input type="text" name="nro-doc" placeholder="Número de documento" id="nro-dni" value={{datos.usuario}} class="form-control" disabled/>
      </div>
    </div>

    <div class="row g-3">
      <div class="col-sm-6">
          <input type="email" class="form-control" id="email" value={{datos.email}} placeholder="email: nombre@ejemplo.com" disabled>
      </div>
      <div class="col-sm">
          <input type="cuil" class="form-control" id="cuil" placeholder="Número cuit/cuil">
      </div>
      <div class="col-sm">
          <input type="cuil" class="form-control" id="PerJuridica" placeholder="Personería Jurídica">
      </div>
    </div>

    <div class="row g-3">
      <div class="col-sm-3">
        <input type="text" class="form-control" id="sitAnses" placeholder="Situación ANSES" aria-label="sitAnses">
      </div>
      <div class="col-sm">
        <input type="text" class="form-control" id="sitAfip" placeholder="Situación AFIP" aria-label="sitAfip">
      </div>
      <div class="col-sm">
        <input type="text" class="form-control" id="sitIaavim" placeholder="Situación IAAViM" aria-label="sitIaavim">
      </div>
      <div class="col-sm">
        <input type="text" class="form-control" id="codRepa" placeholder="Código REPA" aria-label="codRepa">
      </div>
      <div class="row g-3">
      <div class="col-sm-5">
        <input type="text" class="form-control" id="telFijo" placeholder="Teléfono Fijo" aria-label="Phone">
      </div>
      <div class="col-sm">
        <input type="text" class="form-control" id="movilPpal" placeholder="Móvil" aria-label="Movile">
      </div>
      <div class="col-sm">
        <input type="text" class="form-control" id="movilAlt" placeholder="Móvil Alternativo" aria-label="SecondPhone">
      </div>
    </div>
    </div>
    <div class="row g-3">
      <div class="col-sm-4">
        <input type="text" class="form-control" id="localidad" placeholder="Localidad" aria-label="City">
      </div>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="departamento" placeholder="Departamento" aria-label="State">
      </div>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="distrito" placeholder="Distrito" aria-label="District">
      </div>
      <div class="col-sm">
        <input type="text" class="form-control" id="cp" placeholder="C.P." aria-label="Zip">
      </div>
    </div>
    <div class="row g-3">
      <div class="col-sm-5">
        <input type="text" class="form-control" id="calle" placeholder="Calle" aria-label="Street">
      </div>
      <div class="col-sm">
        <input type="text" class="form-control" id="numero" placeholder="Número" aria-label="Number">
      </div>
      <div class="col-sm">
        <input type="text" class="form-control" id="piso" placeholder="Piso" aria-label="Floor">
      </div>
      <div class="col-sm">
        <input type="text" class="form-control" id="dpto" placeholder="Dpto" aria-label="Depto">
      </div>
    </div>
    <div class="row g-3">
      <div class="col-sm-12">
          <div class="card text-bg-dark mb-3 align-items-center">
            <div class="card-header"> <h3>Medios, Areas de Desempeño y complementarias</h3></div>
          </div>
      </div>
    </div>
    <div class="row g-3">
      <div class="col-sm-5">
        <input type="text" class="form-control" id="medios" placeholder="Medios" aria-label="Medios">
      </div>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="areaDes" placeholder="Areas de desempeño" aria-label="areasDes">
      </div>
      <div class="col-sm">
        <input type="text" class="form-control" id="areaCompl" placeholder="Areas Complementarias" aria-label="areasComp">
      </div>
    </div>
        <button type="button" class="btn btn-success"
          data-bs-toggle="tooltip" data-bs-placement="top"
          data-bs-custom-class="custom-tooltip"
          data-bs-title="Por favor chequee la información antes de enviar el formulario.">
          Enviar Formulario
        </button>
    <pre></pre>
</div>