<table>
    <thead>
        <tr>
            <th>N.</th>
            <th>Title</th>
            <th>Description</th>
            <th>Operations</th>
        </tr>
    </thead>

    <tbody>

  {{#each tasks}}
<tr>
    <td>{{@index}}</td>
    <td>{{title}}</td>
    <td>{{description}}</td>
    <td>
        {{#if done}}
                    <a href="/task/{{_id}}/toggledone">Undone</a>
        {{else}}
                    <a href="/task/{{_id}}/toggledone">Done</a>
        {{/if}}
        <a href="/task/{{_id}}/delete">delete</a>
        <a href="/task/{{_id}}/edit">update</a>
    </td>
</tr>

  {{/each}}

    </tbody>
</table>
