<html>
  <head>
    <title>Pestañas de Usuario</title>
    <style>

      table { border-collapse: collapse; width: 100%; } td, th { border: 1px
      solid black; padding: 8px; text-align: left; }
    </style>
  </head>
  <body>

    <div id="perFis" class="tabcontent">
      <h3>Personas Físicas</h3>
      <table>
        <thead>
          <tr>
            <th>Código REPA</th>
            <th>Tipo de documento</th>
            <th>Número de documento</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>CUIL</th>
            <th>Género</th>
            <th>Correo electrónico</th>
            <th>Situación AFIP</th>
            <th>Situación IAAViM</th>
            <th>Localidad</th>
            <th>Distrito</th>
            <th>Departamento</th>
            <th>Código Postal</th>
            <th>Calle</th>
            <th>Piso</th>
            <th>Número</th>
            <th>Departamento</th>
            <th>Teléfono fijo</th>
            <th>Teléfono móvil</th>
            <th>Móvil alternativo</th>
            <th>Medios</th>
            <th>Area Desempeño</th>
            <th>Area Complementaria</th>
          </tr>
        </thead>
        <tbody>
          {{#each usuariosConDatitos}}
            {{#if (eq this.rol "normal")}}
              <tr>
                <td>{{this.codigoRepa}}</td>
                <td>{{this.tipoDoc}}</td>
                <td>{{this.usuario}}</td>
                <td>{{this.nombre}}</td>
                <td>{{this.apellido}}</td>
                <td>{{this.cuil}}</td>
                <td>{{this.sexo}}</td>
                <td>{{this.email}}</td>
                <td>{{this.sitAfip}}</td>
                <td>{{this.sitIaavim}}</td>
                <td>{{this.localidad}}</td>
                <td>{{this.distrito}}</td>
                <td>{{this.departamento}}</td>
                <td>{{this.domicilio.cp}}</td>
                <td>{{this.domicilio.calle}}</td>
                <td>{{this.domicilio.numero}}</td>
                <td>{{this.domicilio.piso}}</td>
                <td>{{this.domicilio.depto}}</td>
                <td>{{this.telefono.fijo}}</td>
                <td>{{this.telefono.movil}}</td>
                <td>{{this.telefono.alternativo}}</td>
                <td>{{{this.medios}}}</td>
                <td>{{{this.areaDes}}}</td>
                <td>{{{this.areaComp}}}</td>
              </tr>
            {{/if}}
          {{/each}}
        </tbody>
      </table>
    </div>
    <script>

    </script>
  </body>
</html>