<div class="container-fluid">
  <pre></pre>
{{!-- Banner superior --}}
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="alert alert-danger" role="alert">
        Si aun no te registraste al sistema iniciar aqui !
      </div>
    </div>
  </div>
{{!-- Header --}}
  <div class="row g-3 mb-4">
    <div class="col-sm-12">
      <div class="card text-bg-secondary mb-3 align-items-center">
        <div class="card-header"> <h3>Registro al RePA</h3></div>
      </div>
    </div>
  </div>
  <form "/signup" method="post">
{{!-- Fila 1 - Nombre y Apellido --}}
    <div class="row g-3 mb-4">
      <div class="col-sm was-validated form-floating">
        <input type="text" name="nombre" placeholder="Nombres" class="form-control rounded-0 text-dark" value="{{user.nombre}}" onkeyup="this.value=NombreMayus(this.value)" required>
        <label for="floatingInput">Nombres</label>
      </div>
      <div class="col-sm was-validated form-floating">
        <input type="text" name="apellido" placeholder="Apellido" class="form-control rounded-0 text-dark" value="{{user.apellido}}" onkeyup="this.value=NombreMayus(this.value)" required>
        <label for="floatingInput">Apellido</label>
      </div>
    </div>
{{!-- Fila 2 - Tipo doc, doc, email --}}
    <div class="row g-3 mb-4 ">
      <div class="col-sm-2 was-validated form-floating">
        <select name="opcion" id="slctDoc" class="form-select" required>
          <option value="" selected disabled hidden>Seleccione</option>
          <option value="DNI">Documento Nacional de Identidad</option>
          <option value="Cedula">Cédula Policia Federal</option>
          <option value="LC">Libreta Cívica</option>
          <option value="LE">Libreta de Enrolamiento</option>
        </select>
        <label for="floatingSelect">Tipo de documento</label>
      </div>
      <div class="col-sm-3 was-validated form-floating">
        <input type="text" name="usuario" placeholder="Número de DNI (USUARIO REPA)" class="form-control rounded-0 text-dark" value="{{user.usuario}}" onkeyup="this.value=Numeros(this.value)" required>
        <label for="floatingInput">Número de DNI</label>
      </div>

      <div class="col-sm-5 was-validated form-floating">
        <input type="email" name="email" placeholder="Correo electrónico" class="form-control rounded-0 text-dark" value="{{user.email}}" required>
        <label for="floatingInput">Correo electrónico</label>
      </div>
      <div class="col-sm-2 was-validated form-floating">
        <select name="opcionPerJur" id="slctPerJur" class="form-select" required>
          <option value="" selected disabled hidden>Seleccione</option>
          <option value="SI">Si</option>
          <option value="NO">No</option>
        </select>
        <label for="floatingSelect">Personería Jurídica</label>
      </div>
    </div>
    
{{!-- Fila 3 - contraseña --}}
    <div class="row g-3 mb-4">
      <div class="col-sm was-validated form-floating">
        <input type="password" name="password" placeholder="Contraseña" minlength="4" class="form-control rounded-0 text-dark" required>
        <label for="floatingInput">Contraseña</label>
      </div>
      <div class="col-sm was-validated form-floating">
        <input type="password" name="confirm_password" placeholder="Cargar contraseña nuevamente" minlength="4" class="form-control rounded-0 text-dark" required>
        <label for="floatingInput">Cargar contraseña nuevamente</label>
      </div>
    </div>
    <pre></pre>
    <button class="btn btn-secondary">Registrarse</button>
  </form>
</div>

<script>
  function NombreMayus(string){//solo letras y numeros
    var out = '';
    //Se añaden las letras validas
    var filtro = 'abcdefghijklmnñopqrstuvwxyzABCDEFGHIJKLMNÑOPQRSTUVWXYZ ';//Caracteres validos
	
    for (var i=0; i<string.length; i++)
       if (filtro.indexOf(string.charAt(i)) != -1) 
	     out += (string.charAt(i)).toUpperCase();

    return out;
  }

  function Numeros(string){//Solo numeros
    var out = '';
    var filtro = '1234567890';//Caracteres validos
	
    //Recorrer el texto y verificar si el caracter se encuentra en la lista de validos 
    for (var i=0; i<string.length; i++)
       if (filtro.indexOf(string.charAt(i)) != -1) 
             //Se añaden a la salida los caracteres validos
	     out += string.charAt(i);
	
    //Retornar valor filtrado
    return out;
  }

  document.body.onload = function() {
    setearOpciones();
  }
  function setearOpciones() {
    document.getElementById("slctDoc").value = `{{user.opcion}}`;
  }
</script>